{
  "openapi": "3.0.1",
  "info": {
    "title": "NitrAPI Documentation",
    "description": "Nitrado.net RESTful API",
    "version": "1.1.1"
  },
  "servers": [
    {
      "url": "https://api.nitrado.net"
    }
  ],
  "paths": {
    "/maintenance": {
      "get": {
        "summary": "Maintenance status",
        "operationId": "GetMaintenanceStatus",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "maintenance": {
                      "cloud_backend": false,
                      "domain_backend": false,
                      "dns_backend": false,
                      "pmacct_backend": false
                    }
                  }
                },
                "schema": {
                  "title": "GetMaintenanceStatusResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cloud_backend": {
                          "type": "boolean"
                        },
                        "domain_backend": {
                          "type": "boolean"
                        },
                        "dns_backend": {
                          "type": "boolean"
                        },
                        "pmacct_backend": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/ping": {
      "get": {
        "summary": "Health Check for API",
        "operationId": "Ping",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "All systems operate as expected."
                },
                "schema": {
                  "title": "PingResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/version": {
      "get": {
        "summary": "Request current API version",
        "operationId": "GetVersion",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "nitrapi-453"
                },
                "schema": {
                  "title": "GetVersionResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/oauth/v2/auth": {
      "get": {
        "summary": "OAuth2 Auth Request",
        "description": "<p>Interactively prompt the user for OAuth2 authorization. Nitrado provides a standards-compliant OAuth2 provider in order to authorize access to our customer's Nitrado accounts.</p> <p>After authorization succeeded, the API redirects the user to the given <code>redirect_uri</code> with <code>code</code> and <code>state</code> as GET parameters.</p> <p>This endpoint is available on <code>oauth.nitrado.net</code>, not <code>api.nitrado.net</code>.</p> <p>We only implement the OAuth2 code flow (explicit flow). Please refer to the available literature on how to (securely) use OAuth2.</p> <p>If you implement <strong>authentication</strong> (&quot;login with Nitrado&quot;) in addition to authorization (&quot;give me access to resources on a user's account&quot;), please be aware of OAuth's shortcomings in that regard. The mere possession of a valid access token/access to the identity endpoint is <strong>not</strong> sufficient!</p> <p>Every authentication must go through the auth endpoint. Only the act of successfully obtaining an access token and subsequently requesting the user info from the identify endpoint is sufficient proof of authentication.</p> <p>It is extremely important to validate the <code>state</code> parameter! If you do not validate it, your application is vulnerable to a trivial CSRF account take-over attack.</p> <p>These limitations are not specific to Nitrado, but inherently caused by the fact that OAuth2 is <em>not</em> - by and in itself - an authentication protocol (but an authorization protocol). The same concerns apply to any other 3rd party provider like Google or Facebook, so make sure that you apply the above to all external providers you integrate with.</p> <p>Please read RFC 6819 (&quot;OAuth 2.0 Threat Model and Security Considerations&quot;) for further information on OAuth 2.0 security.</p> <p>In order to prevent accidental mis-use, we refuse to provide an access token unless a <code>state</code> parameter is supplied.</p> <p>Our team is happy to help you with the details if you wish to integrate with us!</p>",
        "operationId": "CreateAuthToken",
        "parameters": [
          {
            "name": "redirect_uri",
            "description": "Redirect to this URL after a failed or successful auth grant flow (must exactly match one of the redirect URIs configured for your client)",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Redirect to this URL after a failed or successful auth grant flow (must exactly match one of the redirect URIs configured for your client)"
                }
              }
            }
          },
          {
            "name": "client_id",
            "description": "Your OAuth Client ID",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Your OAuth Client ID"
                }
              }
            }
          },
          {
            "name": "response_type",
            "description": "We only support the &quot;<code>code</code>&quot; response type.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "We only support the &quot;<code>code</code>&quot; response type."
                }
              }
            }
          },
          {
            "name": "scope",
            "description": "A list with requested scopes (space separated). The user will be asked to authorized your client to access the scopes you requsted. If all you want is authentication (&quot;login with Nitrado&quot;), only the <code>user_info</code> scope is required and we do not recommend requesting any additional scopes beyond that.</p> <p>The following scopes are supported:</p> <ul> <li><code>user_info</code>: Access to a user's basic account information (username, email address, ...)</li> <li><code>service</code>: Access to a customers's rented services.</li> <li><code>service_order</code>: Access to billing-related endpoints.</li> <li><code>ssh_keys</code>: Access to user's ssh public keys.</li> </ul>",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "A list with requested scopes (space separated). The user will be asked to authorized your client to access the scopes you requsted. If all you want is authentication (&quot;login with Nitrado&quot;), only the <code>user_info</code> scope is required and we do not recommend requesting any additional scopes beyond that.</p> <p>The following scopes are supported:</p> <ul> <li><code>user_info</code>: Access to a user's basic account information (username, email address, ...)</li> <li><code>service</code>: Access to a customers's rented services.</li> <li><code>service_order</code>: Access to billing-related endpoints.</li> <li><code>ssh_keys</code>: Access to user's ssh public keys.</li> </ul>",
                  "default": "user_info"
                }
              }
            }
          },
          {
            "name": "state",
            "description": "Randomly generated string. Store this string in or otherwise tie it to your client's user session and validate that the <code>state</code> you get back with the redirect is identical. Otherwise, an attacker could trick a user into authenticating against his own client and then use the authorization code to gain access to yours.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Randomly generated string. Store this string in or otherwise tie it to your client's user session and validate that the <code>state</code> you get back with the redirect is identical. Otherwise, an attacker could trick a user into authenticating against his own client and then use the authorization code to gain access to yours."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/html": {
                "example": "<html><body>\nYou are being <a href=\"https://oauth.nitrado.net/oauth/v2/auth_login?login_flow_id=...\">redirected</a>.\n</body></html>"
              }
            }
          }
        },
        "tags": [
          "OAuth 2"
        ]
      },
      "servers": [
        {
          "url": "https://oauth.nitrado.net"
        }
      ]
    },
    "/oauth/v2/token": {
      "post": {
        "summary": "OAuth2 Token Request",
        "description": "<p>OAuth2 Token Exchange Exchange an OAuth2 authorization or refresh token for an access token.</p> <p>This endpoint is available on <code>oauth.nitrado.net</code>, not <code>api.nitrado.net</code>.</p> <p>Please refer to the auth endpoint docs for more details on our OAuth2 provider.</p> <p>This endpoint supports two different grant types: <code>authorization_code</code> and <code>refresh_token</code>.</p> <p>It returns an access and refresh token. The access token is the one you actually use to access the API and is valid for one day. The refresh token is valid for one month and you can use it to explicitly request new tokens using the endpoint.</p> <p>You typically call this endpoint with an <code>authorization_code</code> grant after your server-side application after redirected the user agent to the CreateAuthToken endpoint and received the callback.</p> <p><code>refresh_token</code> is only relevant if you use our provider to access a customer's account resources and store both access token and refresh code in your database.</p> <p>For security reasons, access tokens expire within a relatively short time frame. Refresh tokens are longer-lived and allow you to generate a new access token as long as the refresh token is valid, but require the <code>client_id</code>.</p> <p>Note that this replaces and thus invalidates both the current access token and the refresh code.</p> <p>If the refresh code expires before you renew it, you'll lose access and the user will have to grant authorization again. The same applies if a user revoked your client's access in his account settings.</p> <p>The <code>refresh_token</code> flow is irrelevant if you're only <strong>authenticating</strong> a user (&quot;login with Nitrado&quot;)!</p>",
        "operationId": "CreateAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAccessTokenRequest",
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth Client secret (only necessary if you use the <code>authorization_code</code> grant type)"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "We support both <code>authorization_code</code> and <code>refresh_token</code>."
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Your refresh token if you use grant_type &quot;refresh_token&quot;."
                  },
                  "code": {
                    "type": "string",
                    "description": "Your auth code if you use grant_type &quot;authorization_code&quot;."
                  }
                },
                "required": [
                  "client_id",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                  "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                  "token_type": "Bearer",
                  "expires_in": 1487592034,
                  "scope": "user_info service service_order"
                },
                "schema": {
                  "title": "CreateAccessTokenResponse",
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "scope": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "access_token",
                    "refresh_token",
                    "token_type",
                    "expires_in",
                    "scope"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OAuth 2"
        ]
      },
      "delete": {
        "summary": "OAuth2 Expire Token",
        "description": "<p>Expires the given token and invalidates the refresh token.</p>",
        "operationId": "ExpireToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/html": {
                "example": "example is not valid json:\nHTTP/1.1 204 No Content"
              }
            }
          },
          "401": {
            "description": "Token already expired or is invalid"
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "500": {
            "description": "Internal Error"
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://oauth.nitrado.net"
        }
      ]
    },
    "/oauth/v2/update_token": {
      "get": {
        "summary": "OAuth2 Update Token Check",
        "description": "<p>Checks if the current browser session contains a valid update token. This call needs to be done in a browser context, e.g. via AJAX.</p>",
        "operationId": "CheckUpdateToken",
        "parameters": [
          {
            "name": "scope",
            "description": "scope the update token should contain, available: &quot;2fa_devices&quot;",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "scope the update token should contain, available: &quot;2fa_devices&quot;"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/html": {
                "example": "example is not valid json:\nHTTP/1.1 200 No Content\n{\n  \"status\": \"success\",\n  \"data\":\n    {\n      \"token_set\": true\n    }\n}"
              }
            }
          }
        },
        "tags": [
          "OAuth 2"
        ]
      },
      "post": {
        "summary": "OAuth2 Update Token Request",
        "description": "<p>Update token for editing U2F devices. The response will contain a Cookie in the request header. This Cookies is used for authentication and is strictly time limited. This call needs to be done in a browser context, e.g. via AJAX.</p>",
        "operationId": "SetUpdateToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SetUpdateTokenRequest",
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string",
                    "description": "scope the update token should contain, available: &quot;2fa_devices&quot;"
                  }
                },
                "required": [
                  "scope"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/html": {
                "example": "example is not valid json:\nHTTP/1.1 204 No Content"
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "422": {
            "description": "Input validation failed"
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://oauth.nitrado.net"
        }
      ]
    },
    "/token": {
      "get": {
        "summary": "Token Info / Identity",
        "description": "<p>Returns basic information about the access token and the logged in user.</p><p>If you're implementing <strong>authentication</strong> (&quot;login with Nitrado&quot;), you should use this endpoint in order to identify the user (user identity endpoint).</p> <p>A client must only use the user ID in order to identify a user since everything else can be changed by the user.</p>",
        "operationId": "RequestTokenInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "id": 1,
                      "user": {
                        "id": 1,
                        "username": "Tyrola"
                      },
                      "expires_at": 2147483647,
                      "valid_until": "2018-07-29T02:01:55",
                      "scopes": [
                        "user_info",
                        "service",
                        "service_order"
                      ],
                      "two_factor_method": "u2f",
                      "employee": false
                    }
                  }
                },
                "schema": {
                  "title": "RequestTokenInfoResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "username": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "username"
                              ]
                            },
                            "expires_at": {
                              "type": "integer"
                            },
                            "valid_until": {
                              "type": "string"
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "two_factor_method": {
                              "type": "string"
                            },
                            "employee": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "user",
                            "expires_at",
                            "valid_until",
                            "scopes",
                            "employee"
                          ]
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token/long_life_token": {
      "get": {
        "summary": "List long-life tokens",
        "operationId": "ListLongLifeTokens",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "tokens": []
                  }
                },
                "schema": {
                  "title": "ListLongLifeTokensResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tokens": {
                          "type": "array",
                          "description": "TODO the schema of this object is unknown",
                          "items": {
                            "type": "string",
                            "description": "TODO the schema of this object is unknown"
                          }
                        }
                      },
                      "required": [
                        "tokens"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [
              "long_life_token"
            ],
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create long-life token",
        "description": "<p>A long-life access token is valid for many years and can be used to place it inside scripts to automate different jobs via NitrAPI.</p> <p>It's really important that you keep this token secret and do not share it with other people.</p>",
        "operationId": "CreateLongLifeToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateLongLifeTokenRequest",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A user update token."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth 2.0 client id"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth 2.0 client secret"
                  },
                  "description": {
                    "type": "string",
                    "description": "Attach a description for your long-life token."
                  },
                  "scope": {
                    "type": "string",
                    "description": "A list of scopes (space separated), default all scopes from the parent token."
                  },
                  "service_id": {
                    "type": "integer",
                    "description": "Optional a service id to limited the access token."
                  }
                },
                "required": [
                  "token",
                  "client_id",
                  "client_secret",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                      "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                      "token_type": "Bearer",
                      "expires_in": 1487592034,
                      "scope": "user_info service service_order"
                    }
                  }
                },
                "schema": {
                  "title": "CreateLongLifeTokenResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "object",
                          "properties": {
                            "access_token": {
                              "type": "string"
                            },
                            "refresh_token": {
                              "type": "string"
                            },
                            "token_type": {
                              "type": "string"
                            },
                            "expires_in": {
                              "type": "integer"
                            },
                            "scope": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "access_token",
                            "refresh_token",
                            "token_type",
                            "expires_in",
                            "scope"
                          ]
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [
              "long_life_token"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token/long_life_token/{id}": {
      "delete": {
        "summary": "Delete long-life token",
        "operationId": "DeleteLongLifeToken",
        "parameters": [
          {
            "name": "id",
            "description": "The long-life token id to delete",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "The long-life token id to delete"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The access token has been deleted."
                },
                "schema": {
                  "title": "DeleteLongLifeTokenResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [
              "long_life_token"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token/sub": {
      "post": {
        "summary": "Create a sub-token",
        "description": "<p>A sub token is a separate OAuth 2.0 access token generated from an existing token. It has no refresh token and will be invalidated if the parent token is invalidated. It is useful when you need a token that has fewer scopes, is limited to a single service or shorter expiry time.</p> <p>The token can have less or the same scopes as the parent token. Also you can limit the lifetime of the sub token. A sub-token can be also pinned to a specific service_id if needed.</p>",
        "operationId": "CreateSubToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateSubTokenRequest",
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string",
                    "description": "A list with requested scopes (space separated)."
                  },
                  "expires_in": {
                    "type": "integer",
                    "description": "Time in seconds how long the sub-token should be valid."
                  },
                  "service_id": {
                    "type": "integer",
                    "description": "Limits the sub-token to a specific service id."
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID for sudoing into customers for employees."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                      "token_type": "Bearer",
                      "expires_in": 1487592034,
                      "scope": "user_info service service_order"
                    }
                  }
                },
                "schema": {
                  "title": "CreateSubTokenResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "object",
                          "properties": {
                            "access_token": {
                              "type": "string"
                            },
                            "expires_in": {
                              "type": "integer"
                            },
                            "token_type": {
                              "type": "string"
                            },
                            "scope": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "access_token",
                            "expires_in",
                            "token_type",
                            "scope"
                          ]
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/registration": {
      "get": {
        "summary": "Captcha Code",
        "description": "<p>Use this Google Invisible reCAPTCHA Code to verify a user registration.</p>",
        "operationId": "GetCaptchaCode",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "registration": {
                      "google_recaptcha": {
                        "enabled": true,
                        "key": "1PeNd1K......"
                      }
                    }
                  }
                },
                "schema": {
                  "title": "GetCaptchaCodeResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "registration": {
                          "type": "object",
                          "properties": {
                            "google_recaptcha": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                },
                                "key": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "enabled"
                              ]
                            }
                          },
                          "required": [
                            "google_recaptcha"
                          ]
                        }
                      },
                      "required": [
                        "registration"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      },
      "post": {
        "summary": "Register a new User",
        "operationId": "RegisterNewUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "RegisterNewUserRequest",
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth Client Secret"
                  },
                  "recaptcha": {
                    "type": "string",
                    "description": "The reCAPTCHA result. Only needed if reCAPTCHA is enabled."
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the user"
                  },
                  "password": {
                    "type": "string",
                    "description": "The user password"
                  },
                  "currency": {
                    "type": "string",
                    "description": "The user currency",
                    "default": "EUR"
                  },
                  "language": {
                    "type": "string",
                    "description": "The user language ISO 3-digit code",
                    "default": "deu"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The user timezone",
                    "default": "Europe/Berlin"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "username",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "registration": {
                      "user": {
                        "id": 1337
                      },
                      "oauth": {
                        "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                        "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                        "expires_in": 1487592034,
                        "scope": "user_info service service_order"
                      }
                    }
                  }
                },
                "schema": {
                  "title": "RegisterNewUserResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "registration": {
                          "type": "object",
                          "properties": {
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            },
                            "oauth": {
                              "type": "object",
                              "properties": {
                                "access_token": {
                                  "type": "string"
                                },
                                "refresh_token": {
                                  "type": "string"
                                },
                                "expires_in": {
                                  "type": "integer"
                                },
                                "scope": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "access_token",
                                "refresh_token",
                                "expires_in",
                                "scope"
                              ]
                            }
                          },
                          "required": [
                            "user",
                            "oauth"
                          ]
                        }
                      },
                      "required": [
                        "registration"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      }
    },
    "/registration/activate": {
      "get": {
        "summary": "Activate the User",
        "operationId": "ActivateUser",
        "parameters": [
          {
            "name": "code",
            "description": "The user activation code from the email.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The user activation code from the email."
                }
              }
            }
          },
          {
            "name": "email",
            "description": "The user email address for validation.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The user email address for validation."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The user has been activated successfully."
                },
                "schema": {
                  "title": "ActivateUserResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      }
    },
    "/countries": {
      "get": {
        "summary": "List all Countries",
        "operationId": "GetCountries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "countries": {
                      "AF": "Afghanistan"
                    }
                  }
                },
                "schema": {
                  "title": "GetCountriesResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "countries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "countries"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/countries/states": {
      "get": {
        "summary": "List US states",
        "operationId": "GetUSStates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "states": {
                      "AA": "Armed Forces Americas",
                      "AE": "Armed Forces Europe",
                      "AK": "Alaska",
                      "AL": "Alabama"
                    }
                  }
                },
                "schema": {
                  "title": "GetUSStatesResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "states": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "states"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "User Details",
        "operationId": "DetailsGet",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "user": {
                      "user_id": 1337,
                      "username": "Marty",
                      "activated": true,
                      "timezone": "America/Los_Angeles",
                      "email": "marty.mcfly@biffco.com",
                      "credit": 1955,
                      "currency": "EUR",
                      "registered": "1985-25-10T01:15:00.000+00:00",
                      "language": "eng",
                      "avatar": "https://server.nitrado.net/users.nitrado/1337.jpg",
                      "donations": true,
                      "phone": {
                        "number": "+49******1337",
                        "country_code": "49",
                        "verified": true
                      },
                      "two_factor": [
                        "u2f",
                        "google"
                      ],
                      "profile": {
                        "name": "Marty McFly",
                        "street": "DeLorean Street 12",
                        "postcode": "2209",
                        "city": "Hill Valley",
                        "country": "US",
                        "state": "CA",
                        "country_and_state_verified": true,
                        "newsletter": true
                      },
                      "permissions": [
                        "TWITCH_WHITELISTING"
                      ],
                      "employee": false,
                      "partner_id": 139
                    }
                  }
                },
                "schema": {
                  "title": "DetailsGetResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "integer"
                            },
                            "username": {
                              "type": "string"
                            },
                            "activated": {
                              "type": "boolean"
                            },
                            "timezone": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "credit": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "registered": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            },
                            "donations": {
                              "type": "boolean"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string"
                                },
                                "country_code": {
                                  "type": "string"
                                },
                                "verified": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "verified"
                              ]
                            },
                            "two_factor": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "profile": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "postcode": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "country_and_state_verified": {
                                  "type": "boolean"
                                },
                                "newsletter": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "country_and_state_verified",
                                "newsletter"
                              ]
                            },
                            "permissions": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "employee": {
                              "type": "boolean"
                            },
                            "partner_id": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "user_id",
                            "username",
                            "activated",
                            "timezone",
                            "email",
                            "credit",
                            "currency",
                            "registered",
                            "language",
                            "donations",
                            "phone",
                            "two_factor",
                            "profile",
                            "permissions",
                            "employee"
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_info"
            ],
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Update User",
        "operationId": "UpdateUser",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateUserRequest",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The current User Update Token."
                  },
                  "password": {
                    "type": "string",
                    "description": "A new account password."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "A new User Timezone."
                  },
                  "donations": {
                    "type": "string",
                    "description": "Set it to true to receive donations.",
                    "default": "false"
                  },
                  "profile": {
                    "type": "object",
                    "description": "Set user profile data, allowed keys are 'name', 'street', 'postcode', 'city', 'country', 'state', 'newsletter'",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      },
                      "postcode": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "newsletter": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": "79UNQjSNa1D6hmWM6U-vrAxUbY0jr74E",
                    "ttl": "2017-02-28T14:28:22.000+00:00"
                  }
                },
                "schema": {
                  "title": "UpdateUserResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token",
                        "ttl"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_edit"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/account_overview": {
      "get": {
        "summary": "Request User Account Overview",
        "operationId": "GetAccountOverview",
        "parameters": [
          {
            "name": "year",
            "description": "Get the account overview for a certain year",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "Get the account overview for a certain year"
                }
              }
            }
          },
          {
            "name": "month",
            "description": "Get the account overview for a certain month",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "Get the account overview for a certain month"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "account_overview": {
                      "from": "2017-02-01T00:00:00.000+00:00",
                      "end": "2017-03-01T00:00:00.000+00:00",
                      "payments": [
                        {
                          "id": 11405328,
                          "invoice_id": null,
                          "service_id": 1645223,
                          "switched_service_id": null,
                          "donation": null,
                          "date": "2017-02-14T16:20:15",
                          "method": "internal",
                          "duration": 86400,
                          "type": "decrease",
                          "amount": 146,
                          "currency": "EUR",
                          "ip": "127.0.0.1",
                          "refundable": false,
                          "provider_fee": null,
                          "last_status": null
                        },
                        {
                          "id": 11399732,
                          "invoice_id": null,
                          "service_id": 1645223,
                          "switched_service_id": null,
                          "donation": null,
                          "date": "2017-02-13T16:22:33",
                          "method": "internal",
                          "duration": 86400,
                          "type": "decrease",
                          "amount": 146,
                          "currency": "EUR",
                          "ip": "127.0.0.1",
                          "refundable": false,
                          "provider_fee": null,
                          "last_status": null
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "title": "GetAccountOverviewResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_overview": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            },
                            "payments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "invoice_id": {
                                    "type": "integer"
                                  },
                                  "service_id": {
                                    "type": "integer"
                                  },
                                  "switched_service_id": {
                                    "type": "integer"
                                  },
                                  "donation": {
                                    "type": "object",
                                    "description": "TODO",
                                    "properties": {
                                      "sender_user_id": {
                                        "type": "integer"
                                      },
                                      "receiver_user_id": {
                                        "type": "integer"
                                      },
                                      "subject": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "sender_user_id",
                                      "receiver_user_id"
                                    ]
                                  },
                                  "date": {
                                    "type": "string"
                                  },
                                  "method": {
                                    "type": "string"
                                  },
                                  "duration": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "integer"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "ip": {
                                    "type": "string"
                                  },
                                  "refundable": {
                                    "type": "boolean"
                                  },
                                  "provider_fee": {
                                    "type": "integer"
                                  },
                                  "last_status": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "date",
                                  "method",
                                  "duration",
                                  "type",
                                  "amount",
                                  "currency",
                                  "ip",
                                  "refundable"
                                ]
                              }
                            }
                          },
                          "required": [
                            "from",
                            "to",
                            "payments"
                          ]
                        }
                      },
                      "required": [
                        "account_overview"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_info"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/language": {
      "post": {
        "summary": "Update the user language",
        "operationId": "UpdateLanguage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateLanguageRequest",
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "The new language value. One of [spa deu eng fre pol ita dut arg usa]"
                  }
                },
                "required": [
                  "language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "language": "deu"
                  }
                },
                "schema": {
                  "title": "UpdateLanguageResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "language": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "language"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_edit"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/token": {
      "post": {
        "summary": "Request User Update Token",
        "description": "<p>A user update token can be used to change user profile information.</p>",
        "operationId": "GetUserUpdateToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "GetUserUpdateTokenRequest",
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "The current user password."
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": "79UNQjSNa1D6hmWM6U-vrAxUbY0jr74E",
                    "ttl": 123456789
                  }
                },
                "schema": {
                  "title": "GetUserUpdateTokenResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token",
                        "ttl"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_edit"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/verify_country_and_state": {
      "post": {
        "summary": "Verify the user's country and state",
        "description": "<p>This method may only be invoked if the user has manually confirmed their residence, meaning that the values &quot;country&quot; and &quot;state&quot; in the user profile are correct.</p> <pre><code>Country and state can also be passed as optional parameters, assigning the respective values in the user profile.  This operation does nothing if the user already verified their country and state.</code></pre>",
        "operationId": "VerifyCountryAndState",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "VerifyCountryAndStateRequest",
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "The user country. Optional"
                  },
                  "state": {
                    "type": "string",
                    "description": "The user state. Optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The user has been updated succesfully."
                },
                "schema": {
                  "title": "VerifyCountryAndStateResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_edit"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/voucher/redeem": {
      "post": {
        "summary": "Voucher redeem",
        "description": "<p>Currently are only credit vouchers supported. Please redeem other vouchers via the website.</p>",
        "operationId": "RedeemVoucher",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "RedeemVoucherRequest",
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Voucher code"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The voucher has been redeemed successful."
                },
                "schema": {
                  "title": "RedeemVoucherResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [
              "user_info"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services": {
      "get": {
        "summary": "Service List",
        "description": "<h3>Available status codes</h3> <table> <tr>   <th>Status</th>   <th>Description</th> </tr> <tr>   <td>active</td>   <td>The service is active and usable</td> </tr> <tr>   <td>installing</td>   <td>The service is currently installing</td> </tr> <tr>   <td>suspended</td>   <td>The service is suspended and can be reactivated</td> </tr> <tr>   <td>adminlocked</td>   <td>The service is admin locked, please contact support</td> </tr> <tr>   <td>adminlocked_suspended</td>   <td>The service is admin locked and suspended</td> </tr> </table> <h3>Available roles</h3> <table> <tr>   <th>Rule</th>   <th>Description</th> </tr> <tr>   <td>ROLE_GAMESERVER_CHANGE_GAME</td>   <td>Can change server game</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GENERAL_CONTROL</td>   <td>Can use generic control commands</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_BACKUPS_READ</td>   <td>Can view current backups</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_BACKUPS_WRITE</td>   <td>Can restore available backups</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_DEBUG_CONSOLE_READ</td>   <td>Can view the debug console</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_DEBUG_CONSOLE_WRITE</td>   <td>Can use the debug console</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FILEBROWSER_READ</td>   <td>Can view/download files from the file server</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FILEBROWSER_WRITE</td>   <td>Can change/upload files via file server</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FTP_CREDENTIALS_READ</td>   <td>Can see ftp access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FTP_CREDENTIALS_WRITE</td>   <td>Can change ftp access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GAME_RCON_READ</td>   <td>Allows a user to send RCON-commands that retrieve infos</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GAME_RCON_WRITE</td>   <td>Allows a user to send RCON-commands that change settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_LOGS_READ</td>   <td>Can see web interface logs</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_MYSQL_CREDENTIALS_READ</td>   <td>Can view MySQL access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_MYSQL_CREDENTIALS_WRITE</td>   <td>Can change MySQL access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SCHEDULED_RESTART_READ</td>   <td>Can view scheduled server restarts</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SCHEDULED_RESTART_WRITE</td>   <td>Can edit scheduled server restarts</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SETTINGS_READ</td>   <td>Has access to server settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SETTINGS_WRITE</td>   <td>Can change server settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SERVERPAGE_EDIT</td>   <td>Edit the server page</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_LIVE_COMMANDS</td>   <td>Can execute live commands</td> </tr> <tr>   <td>ROLE_SUPPORT_AUTHORIZATION</td>   <td>Can authorize support to access services</td> </tr> </table>",
        "operationId": "ListServices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "services": [
                      {
                        "id": 3,
                        "location_id": 2,
                        "status": "active",
                        "websocket_token": "b05ac3d5d71a8858fca3011a8c179f1d9ec5ab41",
                        "user_id": 2,
                        "comment": "This is my special Battlefield Server.",
                        "auto_extension": false,
                        "auto_extension_duration": null,
                        "auto_extension_external": false,
                        "type": "gameserver",
                        "type_human": "Publicserver 16 Slots",
                        "managedroot_id": null,
                        "details": {
                          "address": "10.10.0.6:27015",
                          "name": "Nitrado.net Battlefield 4 Server",
                          "game": "Battlefield 4",
                          "portlist_short": "bf4",
                          "folder_short": "bf4",
                          "slots": 16
                        },
                        "start_date": "2015-08-11T13:01:01",
                        "suspend_date": "2017-02-09T22:26:46",
                        "delete_date": "2017-02-19T22:26:46",
                        "username": "ni2_1",
                        "roles": [
                          "ROLE_OWNER"
                        ]
                      },
                      {
                        "id": 6,
                        "location_id": 2,
                        "status": "active",
                        "websocket_token": "49232226bcf1568bbc2b659325a3339d3af57fea",
                        "user_id": 1,
                        "comment": null,
                        "auto_extension": false,
                        "auto_extension_duration": null,
                        "auto_extension_external": false,
                        "type": "gameserver",
                        "type_human": "Publicserver 4 Slots",
                        "managedroot_id": 826777,
                        "details": {
                          "address": "10.10.0.7:27015",
                          "name": "Nitrado.net Minecraft Server",
                          "game": "Minecraft",
                          "portlist_short": "mcr",
                          "folder_short": "minecraft",
                          "slots": 4
                        },
                        "start_date": "2015-08-11T13:01:01",
                        "suspend_date": "2017-02-09T22:26:46",
                        "delete_date": "2017-02-19T22:26:46",
                        "username": "ni1_1",
                        "roles": [
                          "ROLE_GAMESERVER_CHANGE_GAME",
                          "ROLE_WEBINTERFACE_GENERAL_CONTROL",
                          "ROLE_WEBINTERFACE_SETTINGS_READ",
                          "ROLE_WEBINTERFACE_SETTINGS_WRITE",
                          "ROLE_WEBINTERFACE_LOGS_READ",
                          "ROLE_WEBINTERFACE_SCHEDULED_RESTART_READ",
                          "ROLE_WEBINTERFACE_SCHEDULED_RESTART_WRITE"
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "title": "ListServicesResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "ID of this service"
                              },
                              "location_id": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of this service"
                              },
                              "websocket_token": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "integer"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "auto_extension": {
                                "type": "boolean",
                                "description": "Is auto extension enabled for this service?"
                              },
                              "auto_extension_duration": {
                                "type": "integer",
                                "description": "Duration of the auto extension in days"
                              },
                              "details": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "game": {
                                    "type": "string"
                                  },
                                  "portlist_short": {
                                    "type": "string"
                                  },
                                  "folder_short": {
                                    "type": "string"
                                  },
                                  "slots": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "ip": {
                                    "type": "string"
                                  },
                                  "hostname": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "status",
                              "user_id",
                              "auto_extension",
                              "auto_extension_duration"
                            ]
                          }
                        }
                      },
                      "required": [
                        "services"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [
              "service"
            ],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}": {
      "get": {
        "summary": "Service Details",
        "operationId": "ServiceDetails",
        "parameters": [
          {
            "name": "id",
            "description": "ID of the service",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "ID of the service"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "service": {
                      "id": 3,
                      "location_id": 2,
                      "status": "active",
                      "websocket_token": "b05ac3d5d71a8858fca3011a8c179f1d9ec5ab41",
                      "user_id": 2,
                      "username": "ni2_2",
                      "auto_extension": false,
                      "auto_extension_duration": null,
                      "auto_extension_external": false,
                      "type": "gameserver",
                      "type_human": "Publicserver 16 Slots",
                      "details": {
                        "address": "10.10.0.6:27015",
                        "name": "Nitrado.net Battlefield 4 Server",
                        "game": "Battlefield 4",
                        "portlist_short": "bf4",
                        "folder_short": "bf4",
                        "slots": 16
                      },
                      "start_date": 1422455269,
                      "suspend_date": 1425048169,
                      "delete_date": 1425652969,
                      "arguments": {
                        "startgame": "bf4",
                        "startport": "27015"
                      },
                      "roles": [
                        "ROLE_OWNER"
                      ]
                    }
                  }
                },
                "schema": {
                  "title": "ServiceDetailsResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID of this service"
                            },
                            "location_id": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string",
                              "description": "Status of this service"
                            },
                            "websocket_token": {
                              "type": "string"
                            },
                            "user_id": {
                              "type": "integer"
                            },
                            "comment": {
                              "type": "string"
                            },
                            "auto_extension": {
                              "type": "boolean",
                              "description": "Is auto extension enabled for this service?"
                            },
                            "auto_extension_duration": {
                              "type": "integer",
                              "description": "Duration of the auto extension in days"
                            },
[...]
