{
  "openapi": "3.0.1",
  "info": {
    "title": "NitrAPI Documentation",
    "description": "Nitrado.net RESTful API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nitrado.net"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Health Check for API",
        "operationId": "Ping",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "All systems operate as expected."
                },
                "schema": {
                  "title": "PingResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/maintenance": {
      "get": {
        "summary": "Maintenance status",
        "operationId": "GetMaintenance",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "maintenance": {
                    "cloud_backend": false,
                    "domain_backend": false
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/version": {
      "get": {
        "summary": "Request current API version",
        "operationId": "GetVersion",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "3ec67777f9121888a04a388d87c934294ba41421"
                }
              }
            }
          }
        },
        "tags": [
          "Global"
        ]
      }
    },
    "/oauth/v2/token": {
      "post": {
        "summary": "OAuth2 Token Request",
        "description": "<p>OAuth2 Token Exchange Exchange an OAuth2 authorization or refresh token for an access token.</p> <p>This endpoint is available on <code>oauth.nitrado.net</code>, not <code>api.nitrado.net</code>.</p> <p>Please refer to the auth endpoint docs for more details on our OAuth2 provider.</p> <p>This endpoint supports two different grant types: <code>authorization_code</code> and <code>refresh_token</code>.</p> <p>It returns an access and refresh token. The access token is the one you actually use to access the API and is valid for one day. The refresh token is valid for one month and you can use it to explicitly request new tokens using the endpoint.</p> <p>You typically call this endpoint with an <code>authorization_code</code> grant after your server-side application after redirected the user agent to the CreateAuthToken endpoint and received the callback.</p> <p><code>refresh_token</code> is only relevant if you use our provider to access a customer's account resources and store both access token and refresh code in your database.</p> <p>For security reasons, access tokens expire within a relatively short time frame. Refresh tokens are longer-lived and allow you to generate a new access token as long as the refresh token is valid, but require the <code>client_id</code>.</p> <p>Note that this replaces and thus invalidates both the current access token and the refresh code.</p> <p>If the refresh code expires before you renew it, you'll lose access and the user will have to grant authorization again. The same applies if a user revoked your client's access in his account settings.</p> <p>The <code>refresh_token</code> flow is irrelevant if you're only <strong>authenticating</strong> a user (&quot;login with Nitrado&quot;)!</p>",
        "operationId": "CreateAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAccessTokenRequest",
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth Client secret (only necessary if you use the <code>authorization_code</code> grant type)"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "We support both <code>authorization_code</code> and <code>refresh_token</code>."
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Your refresh token if you use grant_type &quot;refresh_token&quot;."
                  },
                  "code": {
                    "type": "string",
                    "description": "Your auth code if you use grant_type &quot;authorization_code&quot;."
                  }
                },
                "required": [
                  "client_id",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                  "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                  "token_type": "Bearer",
                  "expires_in": 1487592034,
                  "scope": "user_info service service_order"
                }
              }
            }
          }
        },
        "tags": [
          "OAuth 2"
        ]
      },
      "servers": [
        {
          "url": "https://oauth.nitrado.net"
        }
      ]
    },
    "/oauth/v2/auth": {
      "get": {
        "summary": "OAuth2 Auth Request",
        "description": "<p>Interactively prompt the user for OAuth2 authorization. Nitrado provides a standards-compliant OAuth2 provider in order to authorize access to our customer's Nitrado accounts.</p> <p>After authorization succeeded, the API redirects the user to the given <code>redirect_uri</code> with <code>code</code> and <code>state</code> as GET parameters.</p> <p>This endpoint is available on <code>oauth.nitrado.net</code>, not <code>api.nitrado.net</code>.</p> <p>We only implement the OAuth2 code flow (explicit flow). Please refer to the available literature on how to (securely) use OAuth2.</p> <p>If you implement <strong>authentication</strong> (&quot;login with Nitrado&quot;) in addition to authorization (&quot;give me access to resources on a user's account&quot;), please be aware of OAuth's shortcomings in that regard. The mere possession of a valid access token/access to the identity endpoint is <strong>not</strong> sufficient!</p> <p>Every authentication must go through the auth endpoint. Only the act of successfully obtaining an access token and subsequently requesting the user info from the identify endpoint is sufficient proof of authentication.</p> <p>It is extremely important to validate the <code>state</code> parameter! If you do not validate it, your application is vulnerable to a trivial CSRF account take-over attack.</p> <p>These limitations are not specific to Nitrado, but inherently caused by the fact that OAuth2 is <em>not</em> - by and in itself - an authentication protocol (but an authorization protocol). The same concerns apply to any other 3rd party provider like Google or Facebook, so make sure that you apply the above to all external providers you integrate with.</p> <p>Please read RFC 6819 (&quot;OAuth 2.0 Threat Model and Security Considerations&quot;) for further information on OAuth 2.0 security.</p> <p>In order to prevent accidental mis-use, we refuse to provide an access token unless a <code>state</code> parameter is supplied.</p> <p>Our team is happy to help you with the details if you wish to integrate with us!</p>",
        "operationId": "CreateAuthToken",
        "parameters": [
          {
            "name": "redirect_uri",
            "description": "Redirect to this URL after a failed or successful auth grant flow (must exactly match one of the redirect URIs configured for your client)",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Redirect to this URL after a failed or successful auth grant flow (must exactly match one of the redirect URIs configured for your client)"
                }
              }
            }
          },
          {
            "name": "client_id",
            "description": "Your OAuth Client ID",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Your OAuth Client ID"
                }
              }
            }
          },
          {
            "name": "response_type",
            "description": "We only support the &quot;<code>code</code>&quot; response type.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "We only support the &quot;<code>code</code>&quot; response type."
                }
              }
            }
          },
          {
            "name": "scope",
            "description": "A list with requested scopes (space separated). The user will be asked to authorized your client to access the scopes you requsted. If all you want is authentication (&quot;login with Nitrado&quot;), only the <code>user_info</code> scope is required and we do not recommend requesting any additional scopes beyond that.</p> <p>The following scopes are supported:</p> <ul> <li><code>user_info</code>: Access to a user's basic account information (username, email address, ...)</li> <li><code>service</code>: Access to a customers's rented services.</li> <li><code>service_order</code>: Access to billing-related endpoints.</li> <li><code>ssh_keys</code>: Access to user's ssh public keys.</li> </ul>",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "A list with requested scopes (space separated). The user will be asked to authorized your client to access the scopes you requsted. If all you want is authentication (&quot;login with Nitrado&quot;), only the <code>user_info</code> scope is required and we do not recommend requesting any additional scopes beyond that.</p> <p>The following scopes are supported:</p> <ul> <li><code>user_info</code>: Access to a user's basic account information (username, email address, ...)</li> <li><code>service</code>: Access to a customers's rented services.</li> <li><code>service_order</code>: Access to billing-related endpoints.</li> <li><code>ssh_keys</code>: Access to user's ssh public keys.</li> </ul>",
                  "default": "user_info"
                }
              }
            }
          },
          {
            "name": "state",
            "description": "Randomly generated string. Store this string in or otherwise tie it to your client's user session and validate that the <code>state</code> you get back with the redirect is identical. Otherwise, an attacker could trick a user into authenticating against his own client and then use the authorization code to gain access to yours.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Randomly generated string. Store this string in or otherwise tie it to your client's user session and validate that the <code>state</code> you get back with the redirect is identical. Otherwise, an attacker could trick a user into authenticating against his own client and then use the authorization code to gain access to yours."
                }
              }
            }
          }
        ],
        "responses": {},
        "tags": [
          "OAuth 2"
        ]
      },
      "servers": [
        {
          "url": "https://oauth.nitrado.net"
        }
      ]
    },
    "/token/long_life_token": {
      "post": {
        "summary": "Create long-life token",
        "description": "<p>A long-life access token is valid for many years and can be used to place it inside scripts to automate different jobs via NitrAPI.</p> <p>It's really important that you keep this token secret and do not share it with other people.</p>",
        "operationId": "CreateLongLifeToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateLongLifeTokenRequest",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A user update token."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth 2.0 client id"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth 2.0 client secret"
                  },
                  "description": {
                    "type": "string",
                    "description": "Attach a description for your long-life token."
                  },
                  "scope": {
                    "type": "string",
                    "description": "A list of scopes (space separated), default all scopes from the parent token."
                  },
                  "service_id": {
                    "type": "integer",
                    "description": "Optional a service id to limited the access token."
                  }
                },
                "required": [
                  "token",
                  "client_id",
                  "client_secret",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                      "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                      "token_type": "Bearer",
                      "expires_in": 1487592034,
                      "scope": "user_info service service_order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List long-life tokens",
        "operationId": "ListLongLifeTokens",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "tokens": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token/sub": {
      "post": {
        "summary": "Create a sub-token",
        "description": "<p>A sub token is a separate OAuth 2.0 access token generated from an existing token. It has no refresh token and will be invalidated if the parent token is invalidated. It is useful when you need a token that has fewer scopes, is limited to a single service or shorter expiry time.</p> <p>The token can have less or the same scopes as the parent token. Also you can limit the lifetime of the sub token. A sub-token can be also pinned to a specific service_id if needed.</p>",
        "operationId": "CreateSubToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateSubTokenRequest",
                "type": "object",
                "properties": {
                  "scope": {
                    "type": "string",
                    "description": "A list with requested scopes (space separated)."
                  },
                  "expires_in": {
                    "type": "integer",
                    "description": "Time in seconds how long the sub-token should be valid."
                  },
                  "service_id": {
                    "type": "integer",
                    "description": "Limits the sub-token to a specific service id."
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID for sudoing into customers for employees."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                      "token_type": "Bearer",
                      "expires_in": 1487592034,
                      "scope": "user_info service service_order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token/long_life_token/{id}": {
      "delete": {
        "summary": "Delete long-life token",
        "operationId": "DeleteLongLifeToken",
        "parameters": [
          {
            "name": "id",
            "description": "The long-life token id to delete",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "The long-life token id to delete"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The access token has been deleted."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/token": {
      "get": {
        "summary": "Token Info / Identity",
        "description": "<p>Returns basic information about the access token and the logged in user.</p> <p>This endpoint is available on <code>oauth.nitrado.net</code>, not <code>api.nitrado.net</code>.</p> <p>If you're implementing <strong>authentication</strong> (&quot;login with Nitrado&quot;), you should use this endpoint in order to identify the user (user identity endpoint).</p> <p>A client must only use the user ID in order to identify a user since everything else can be changed by the user.</p>",
        "operationId": "RequestTokenInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": {
                      "id": 1,
                      "user": {
                        "id": 1,
                        "username": "Tyrola"
                      },
                      "expires_at": 2147483647,
                      "valid_until": "2018-07-29T02:01:55",
                      "scopes": [
                        "user_info",
                        "service",
                        "service_order"
                      ],
                      "two_factor_method": "u2f",
                      "employee": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "OAuth 2"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/registration": {
      "post": {
        "summary": "Register a new User",
        "operationId": "RegisterNewUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "RegisterNewUserRequest",
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your OAuth Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your OAuth Client Secret"
                  },
                  "recaptcha": {
                    "type": "string",
                    "description": "The reCAPTCHA result. Only needed if reCAPTCHA is enabled."
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the user"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the user"
                  },
                  "password": {
                    "type": "string",
                    "description": "The user password"
                  },
                  "currency": {
                    "type": "string",
                    "description": "The user currency",
                    "default": "EUR"
                  },
                  "language": {
                    "type": "string",
                    "description": "The user language ISO 3-digit code",
                    "default": "deu"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The user timezone",
                    "default": "Europe/Berlin"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "username",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "registration": {
                      "user": {
                        "id": 1337
                      },
                      "oauth": {
                        "access_token": "NTFmNTQ5M2VjYjVkMzVkNWNkYjViYzIx........",
                        "refresh_token": "DI5NmRmMTgwMWNhNjU0ZQ........",
                        "expires_in": 1487592034,
                        "scope": "user_info service service_order"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      },
      "get": {
        "summary": "Captcha Code",
        "description": "<p>Use this Google Invisible reCAPTCHA Code to verify a user registration.</p>",
        "operationId": "GetCaptchaCode",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "registration": {
                      "google_recaptcha": {
                        "enabled": true,
                        "key": "1PeNd1K......"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      }
    },
    "/registration/activate": {
      "get": {
        "summary": "Activate the User",
        "operationId": "DoUserActivation",
        "parameters": [
          {
            "name": "code",
            "description": "The user activation code from the email.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The user activation code from the email."
                }
              }
            }
          },
          {
            "name": "email",
            "description": "The user email address for validation.",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The user email address for validation."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The user has been activated successfully."
                }
              }
            }
          }
        },
        "tags": [
          "Registration"
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "User Details",
        "operationId": "UserDetails",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "user": {
                      "user_id": 1337,
                      "username": "Marty",
                      "activated": true,
                      "timezone": "America/Los_Angeles",
                      "email": "marty.mcfly@biffco.com",
                      "credit": 1955,
                      "currency": "EUR",
                      "registered": "1985-25-10T01:15:00.000+00:00",
                      "language": "eng",
                      "avatar": "https://server.nitrado.net/users.nitrado/1337.jpg",
                      "donations": true,
                      "phone": {
                        "number": "+49******1337",
                        "country_code": "49",
                        "verified": true
                      },
                      "two_factor": [
                        "u2f",
                        "google"
                      ],
                      "profile": {
                        "name": "Marty McFly",
                        "street": "DeLorean Street 12",
                        "postcode": "2209",
                        "city": "Hill Valley",
                        "country": "US",
                        "state": "CA",
                        "country_and_state_verified": true,
                        "newsletter": true
                      },
                      "permissions": [
                        "TWITCH_WHITELISTING"
                      ],
                      "employee": false,
                      "partner_id": 139
                    }
                  }
                },
                "schema": {
                  "title": "UserDetailsResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "number"
                            },
                            "username": {
                              "type": "string"
                            },
                            "activated": {
                              "type": "boolean"
                            },
                            "timezone": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "credit": {
                              "type": "number"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "registered": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            },
                            "donations": {
                              "type": "boolean"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string"
                                },
                                "country_code": {
                                  "type": "string"
                                },
                                "verified": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "verified"
                              ]
                            },
                            "two_factor": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "profile": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "postcode": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "country_and_state_verified": {
                                  "type": "boolean"
                                },
                                "newsletter": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "country_and_state_verified",
                                "newsletter"
                              ]
                            },
                            "permissions": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "employee": {
                              "type": "boolean"
                            },
                            "partner_id": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "user_id",
                            "username",
                            "activated",
                            "timezone",
                            "email",
                            "credit",
                            "currency",
                            "registered",
                            "language",
                            "donations",
                            "phone",
                            "two_factor",
                            "profile",
                            "permissions",
                            "employee"
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Update User",
        "operationId": "Update User",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "Update UserRequest",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The current User Update Token."
                  },
                  "password": {
                    "type": "string",
                    "description": "A new account password."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "A new User Timezone."
                  },
                  "donations": {
                    "type": "string",
                    "description": "Set it to true to receive donations.",
                    "default": "false"
                  },
                  "profile": {
                    "type": "object",
                    "description": "Set user profile data, allowed keys are 'name', 'street', 'postcode', 'city', 'country', 'state', 'newsletter'",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      },
                      "postcode": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "newsletter": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": "79UNQjSNa1D6hmWM6U-vrAxUbY0jr74E",
                    "ttl": "2017-02-28T14:28:22.000+00:00"
                  }
                },
                "schema": {
                  "title": "Update UserResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token",
                        "ttl"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/account_overview": {
      "get": {
        "summary": "Request User Account Overview",
        "operationId": "GetAccountOverview",
        "parameters": [
          {
            "name": "year",
            "description": "Get the account overview for a certain year",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "description": "Get the account overview for a certain year"
                }
              }
            }
          },
          {
            "name": "month",
            "description": "Get the account overview for a certain month",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "description": "Get the account overview for a certain month"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "account_overview": {
                      "from": "2017-02-01T00:00:00.000+00:00",
                      "end": "2017-03-01T00:00:00.000+00:00",
                      "payments": [
                        {
                          "id": 11405328,
                          "invoice_id": null,
                          "service_id": 1645223,
                          "switched_service_id": null,
                          "donation": null,
                          "date": "2017-02-14T16:20:15",
                          "method": "internal",
                          "duration": 86400,
                          "type": "decrease",
                          "amount": 146,
                          "currency": "EUR",
                          "ip": "127.0.0.1",
                          "refundable": false,
                          "provider_fee": null,
                          "last_status": null
                        },
                        {
                          "id": 11399732,
                          "invoice_id": null,
                          "service_id": 1645223,
                          "switched_service_id": null,
                          "donation": null,
                          "date": "2017-02-13T16:22:33",
                          "method": "internal",
                          "duration": 86400,
                          "type": "decrease",
                          "amount": 146,
                          "currency": "EUR",
                          "ip": "127.0.0.1",
                          "refundable": false,
                          "provider_fee": null,
                          "last_status": null
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "title": "GetAccountOverviewResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_overview": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            },
                            "payments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "invoice_id": {
                                    "type": "number"
                                  },
                                  "service_id": {
                                    "type": "number"
                                  },
                                  "switched_service_id": {
                                    "type": "number"
                                  },
                                  "donation": {
                                    "type": "object",
                                    "description": "TODO",
                                    "properties": {
                                      "sender_user_id": {
                                        "type": "number"
                                      },
                                      "receiver_user_id": {
                                        "type": "number"
                                      },
                                      "subject": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "sender_user_id",
                                      "receiver_user_id"
                                    ]
                                  },
                                  "date": {
                                    "type": "string"
                                  },
                                  "method": {
                                    "type": "string"
                                  },
                                  "duration": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "ip": {
                                    "type": "string"
                                  },
                                  "refundable": {
                                    "type": "boolean"
                                  },
                                  "provider_fee": {
                                    "type": "number"
                                  },
                                  "last_status": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "date",
                                  "method",
                                  "duration",
                                  "type",
                                  "amount",
                                  "currency",
                                  "ip",
                                  "refundable"
                                ]
                              }
                            }
                          },
                          "required": [
                            "from",
                            "to",
                            "payments"
                          ]
                        }
                      },
                      "required": [
                        "account_overview"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "summary": "List all Countries",
        "operationId": "GetCountries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "countries": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/countries/states": {
      "get": {
        "summary": "List US states",
        "operationId": "GetUSStates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "states": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/token": {
      "post": {
        "summary": "Request User Update Token",
        "description": "<p>A user update token can be used to change user profile information.</p>",
        "operationId": "GetUserUpdateToken",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "GetUserUpdateTokenRequest",
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "The current user password."
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "token": "79UNQjSNa1D6hmWM6U-vrAxUbY0jr74E",
                    "ttl": 123456789
                  }
                },
                "schema": {
                  "title": "GetUserUpdateTokenResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token",
                        "ttl"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/voucher/redeem": {
      "post": {
        "summary": "Voucher redeem",
        "description": "<p>Currently are only credit vouchers and Cloud Server vouchers supported. Please redeem other vouchers via the website.</p>",
        "operationId": "RedeemVoucher",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "RedeemVoucherRequest",
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Voucher code"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/text": {
                "example": "example is not valid json:\n{\n   \"status\":\"success\",\n   \"message:\"The voucher has been redeemed successful.\"\n}"
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/verify_country_and_state": {
      "post": {
        "summary": "Verify the user's country and state",
        "description": "<p>This method may only be invoked if the user has manually confirmed their residence, meaning that the values &quot;country&quot; and &quot;state&quot; in the user profile are correct.</p> <pre><code>Country and state can also be passed as optional parameters, assigning the respective values in the user profile.  This operation does nothing if the user already verified their country and state.</code></pre>",
        "operationId": "VerifyCountryAndState",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "VerifyCountryAndStateRequest",
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "The user country. Optional"
                  },
                  "state": {
                    "type": "string",
                    "description": "The user state. Optional"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}": {
      "delete": {
        "summary": "Delete the service",
        "description": "<p>You only can delete the service if it's suspended otherwise a error will be thrown.</p>",
        "operationId": "DeleteService",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The server will be deleted in the next minutes."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Service Details",
        "operationId": "ServiceDetails",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "service": {
                      "id": 3,
                      "location_id": 2,
                      "status": "active",
                      "websocket_token": "b05ac3d5d71a8858fca3011a8c179f1d9ec5ab41",
                      "user_id": 2,
                      "username": "ni2_2",
                      "auto_extension": false,
                      "auto_extension_duration": null,
                      "type": "gameserver",
                      "type_human": "Publicserver 16 Slots",
                      "details": {
                        "address": "10.10.0.6:27015",
                        "name": "Nitrado.net Battlefield 4 Server",
                        "game": "Battlefield 4",
                        "portlist_short": "bf4",
                        "folder_short": "bf4",
                        "slots": 16
                      },
                      "start_date": 1422455269,
                      "suspend_date": 1425048169,
                      "delete_date": 1425652969,
                      "arguments": {
                        "startgame": "bf4",
                        "startport": "27015"
                      },
                      "roles": [
                        "ROLE_OWNER"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/knowledge_base": {
      "get": {
        "summary": "Get Knowledge Base Articles for Service",
        "description": "<p>Get articles from the knowledge base regarding a specific service</p>",
        "operationId": "GetServiceKnowledgeBase",
        "parameters": [
          {
            "name": "characteristic",
            "description": "An issue characteristic from the following list: undecided, restarting-or-crashing, not-installing, unreachable, not-found, no-connection, webinterface-unreachable, lagging, unexpected-rollbacks, data-loss, configuration, connection, kicked-connecting, kicked-playing, other",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "An issue characteristic from the following list: undecided, restarting-or-crashing, not-installing, unreachable, not-found, no-connection, webinterface-unreachable, lagging, unexpected-rollbacks, data-loss, configuration, connection, kicked-connecting, kicked-playing, other"
                }
              }
            }
          },
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "articles": [
                    {
                      "title": "I cannot find my server in the Server List(PS4/xbox)",
                      "url": "https://wiki.nitrado.net/en/I%20cannot%20find%20my%20server%20in%20the%20Server%20List(PS4/xbox)",
                      "game": "arkps",
                      "characteristic": "not-found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services": {
      "get": {
        "summary": "Service List",
        "description": "<h3>Available status codes</h3> <table> <tr>   <th>Status</th>   <th>Description</th> </tr> <tr>   <td>active</td>   <td>The service is active and usable</td> </tr> <tr>   <td>installing</td>   <td>The service is currently installing</td> </tr> <tr>   <td>suspended</td>   <td>The service is suspended and can be reactivated</td> </tr> <tr>   <td>adminlocked</td>   <td>The service is admin locked, please contact support</td> </tr> <tr>   <td>adminlocked_suspended</td>   <td>The service is admin locked and suspended</td> </tr> </table> <h3>Available roles</h3> <table> <tr>   <th>Rule</th>   <th>Description</th> </tr> <tr>   <td>ROLE_GAMESERVER_CHANGE_GAME</td>   <td>Can change server game</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GENERAL_CONTROL</td>   <td>Can use generic control commands</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_BACKUPS_READ</td>   <td>Can view current backups</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_BACKUPS_WRITE</td>   <td>Can restore available backups</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_DEBUG_CONSOLE_READ</td>   <td>Can view the debug console</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_DEBUG_CONSOLE_WRITE</td>   <td>Can use the debug console</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FILEBROWSER_READ</td>   <td>Can view/download files from the file server</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FILEBROWSER_WRITE</td>   <td>Can change/upload files via file server</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FTP_CREDENTIALS_READ</td>   <td>Can see ftp access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_FTP_CREDENTIALS_WRITE</td>   <td>Can change ftp access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GAME_RCON_READ</td>   <td>Allows a user to send RCON-commands that retrieve infos</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_GAME_RCON_WRITE</td>   <td>Allows a user to send RCON-commands that change settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_LOGS_READ</td>   <td>Can see web interface logs</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_MYSQL_CREDENTIALS_READ</td>   <td>Can view MySQL access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_MYSQL_CREDENTIALS_WRITE</td>   <td>Can change MySQL access credentials</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SCHEDULED_RESTART_READ</td>   <td>Can view scheduled server restarts</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SCHEDULED_RESTART_WRITE</td>   <td>Can edit scheduled server restarts</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SETTINGS_READ</td>   <td>Has access to server settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SETTINGS_WRITE</td>   <td>Can change server settings</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_SERVERPAGE_EDIT</td>   <td>Edit the server page</td> </tr> <tr>   <td>ROLE_WEBINTERFACE_LIVE_COMMANDS</td>   <td>Can execute live commands</td> </tr> <tr>   <td>ROLE_SUPPORT_AUTHORIZATION</td>   <td>Can authorize support to access services</td> </tr> </table>",
        "operationId": "ListServices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "services": [
                      {
                        "id": 3,
                        "location_id": 2,
                        "status": "active",
                        "websocket_token": "b05ac3d5d71a8858fca3011a8c179f1d9ec5ab41",
                        "user_id": 2,
                        "comment": "This is my special Battlefield Server.",
                        "auto_extension": false,
                        "auto_extension_duration": null,
                        "type": "gameserver",
                        "type_human": "Publicserver 16 Slots",
                        "managedroot_id": null,
                        "details": {
                          "address": "10.10.0.6:27015",
                          "name": "Nitrado.net Battlefield 4 Server",
                          "game": "Battlefield 4",
                          "portlist_short": "bf4",
                          "folder_short": "bf4",
                          "slots": 16
                        },
                        "start_date": "2015-08-11T13:01:01",
                        "suspend_date": "2017-02-09T22:26:46",
                        "delete_date": "2017-02-19T22:26:46",
                        "username": "ni2_1",
                        "roles": [
                          "ROLE_OWNER"
                        ]
                      },
                      {
                        "id": 6,
                        "location_id": 2,
                        "status": "active",
                        "websocket_token": "49232226bcf1568bbc2b659325a3339d3af57fea",
                        "user_id": 1,
                        "comment": null,
                        "auto_extension": false,
                        "auto_extension_duration": null,
                        "type": "gameserver",
                        "type_human": "Publicserver 4 Slots",
                        "managedroot_id": 826777,
                        "details": {
                          "address": "10.10.0.7:27015",
                          "name": "Nitrado.net Minecraft Server",
                          "game": "Minecraft",
                          "portlist_short": "mcr",
                          "folder_short": "minecraft",
                          "slots": 4
                        },
                        "start_date": "2015-08-11T13:01:01",
                        "suspend_date": "2017-02-09T22:26:46",
                        "delete_date": "2017-02-19T22:26:46",
                        "username": "ni1_1",
                        "roles": [
                          "ROLE_GAMESERVER_CHANGE_GAME",
                          "ROLE_WEBINTERFACE_GENERAL_CONTROL",
                          "ROLE_WEBINTERFACE_SETTINGS_READ",
                          "ROLE_WEBINTERFACE_SETTINGS_WRITE",
                          "ROLE_WEBINTERFACE_LOGS_READ",
                          "ROLE_WEBINTERFACE_SCHEDULED_RESTART_READ",
                          "ROLE_WEBINTERFACE_SCHEDULED_RESTART_WRITE"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/notifications": {
      "get": {
        "summary": "Service Notifications",
        "description": "<p>Returns an array of active notifications relevant for the given service.</p>",
        "operationId": "Notifications",
        "parameters": [
          {
            "name": "include_dismissed",
            "description": "Set to true if response should include messages dismissed by the user",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "description": "Set to true if response should include messages dismissed by the user",
                  "default": "false"
                }
              }
            }
          },
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/text": {
                "example": "example is not valid json:\n{\n   \"status\":\"success\",\n   \"data\":{\n      \"notifications\": [{\n        \"id\" => 1,                                  // The notification's id\n        \"service_id\" => 42,                         // The service's id\n        \"type\" => \"cloud_server_network_disabled\",  // Type that allows for special handling of specific message types\n        \"level\" => \"SEVERE\",                        // One of SEVERE, WARNING, INFO, SUCCESS, DEBUG\n        \"error_id\" => false,                        // An error id if the message is the result of an error\n        \"dismissed\" => false,                       // True if the message has been dismissed by the user\n        \"message\" => \"Hello world!\",                // The localized notification message\n        \"data\" => {                                 // Additional data specific to the notification type\n          \"some_type_specific_key\" : \"some_type_specific_value\"\n        },\n        \"created_at\" => \"2017-07-07T16:27:39\",      // Creation time in the user's time zone\n        \"created_at_timestamp\" => 1499437701,       // Creation time as UNIX time stamp\n        \"lifetime\" => false                         // If set, lifetime (in seconds) of the notification\n      }]\n   }\n}"
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/auto_extend": {
      "post": {
        "summary": "Update Auto-Extend Status",
        "operationId": "UpdateAutoExtendInformation",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateAutoExtendInformationRequest",
                "type": "object",
                "properties": {
                  "auto_extend_id": {
                    "type": "number",
                    "description": "Provide 0 if you want to disable auto-extend.",
                    "default": "0"
                  },
                  "rental_time": {
                    "type": "number",
                    "description": "Selected rental time in hours.",
                    "default": "720"
                  }
                },
                "required": [
                  "auto_extend_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The auto extension has been disabled."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Auto-Extend Information",
        "operationId": "RequestAutoExtendInformation",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "auto_extend": [
                      {
                        "id": 0,
                        "name": "NONE",
                        "active": true,
                        "description": "Disable automatic extension",
                        "available": true,
                        "payment_method": null,
                        "rental_times": {
                          "72": 300,
                          "720": 1200,
                          "2160": 3200,
                          "8760": 12000
                        }
                      },
                      {
                        "id": 1,
                        "name": "CREDITS_ONLY",
                        "active": false,
                        "description": "Extend with credits",
                        "available": true,
                        "payment_method": null,
                        "rental_times": {
                          "72": 300,
                          "720": 1200,
                          "2160": 3200,
                          "8760": 12000
                        }
                      },
                      {
                        "id": 2,
                        "name": "PAYPAL_CREDITS_FIRST",
                        "active": false,
                        "description": "Extend with Paypal, use credits first",
                        "available": true,
                        "payment_method": "gc_paypal",
                        "rental_times": {
                          "72": 300,
                          "720": 1200,
                          "2160": 3200,
                          "8760": 12000
                        }
                      },
                      {
                        "id": 52,
                        "name": "PAYPAL",
                        "active": false,
                        "description": "Extend with Paypal",
                        "available": true,
                        "payment_method": "gc_paypal",
                        "rental_times": {
                          "72": 300,
                          "720": 1200,
                          "2160": 3200,
                          "8760": 12000
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/sale_price": {
      "get": {
        "summary": "Request sale price for Service",
        "operationId": "RequestSalePrice",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "sale_price": {
                      "price": 995,
                      "currency": "EUR",
                      "remaining_duration": 4815
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/cancel": {
      "post": {
        "summary": "Cancels the service",
        "description": "<p>Canceling the service is not supported by all product types.</p>",
        "operationId": "ServiceCancel",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "ServiceCancelRequest",
                "type": "object",
                "properties": {
                  "delete_instantly": {
                    "type": "boolean",
                    "description": "If set, the service will not be suspended, but immediately deleted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "The server will be canceled now."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/logs": {
      "get": {
        "summary": "Service Logs",
        "operationId": "ServiceLogs",
        "parameters": [
          {
            "name": "page",
            "description": "The logs page id.",
            "in": "query",
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "description": "The logs page id.",
                  "default": "1"
                }
              }
            }
          },
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "current_page": 1,
                    "logs_per_page": 40,
                    "page_count": 1,
                    "log_count": 5,
                    "logs": [
                      {
                        "user": "JohnDoe",
                        "category": "server",
                        "severity": "info",
                        "message": "Restart",
                        "created_at": "2015-10-07T00:31:23",
                        "admin": false
                      },
                      {
                        "user": "JohnDoe",
                        "category": "filebrowser",
                        "severity": "info",
                        "message": "Has edited the file server.properties",
                        "created_at": "2015-10-07T00:31:19",
                        "admin": false
                      },
                      {
                        "user": "JohnDoe",
                        "category": "server",
                        "severity": "error",
                        "message": "Restart failed",
                        "created_at": "2015-09-28T14:17:07",
                        "admin": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Service"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/bouncers": {
      "put": {
        "summary": "Change the password for an ident",
        "description": "<p>Change the password for an ident</p>",
        "operationId": "ChangePassword",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "ChangePasswordRequest",
                "type": "object",
                "properties": {
                  "ident": {
                    "type": "string",
                    "description": "Ident for the new password. Allowed <code>/^[A-Za-z0-9]+$/</code>."
                  },
                  "password": {
                    "type": "string",
                    "description": "A new password for the ident"
                  }
                },
                "required": [
                  "ident",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Password changed."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Bouncer"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a ident",
        "description": "<p>Create a new ident</p>",
        "operationId": "CreateIdent",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateIdentRequest",
                "type": "object",
                "properties": {
                  "ident": {
                    "type": "string",
                    "description": "Set the ident. Allowed <code>/^[A-Za-z0-9]+$/</code>."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password for the ident"
                  }
                },
                "required": [
                  "ident",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Ident created."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Bouncer"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a ident",
        "description": "<p>Remove an ident</p>",
        "operationId": "DeleteIdent",
        "parameters": [
          {
            "name": "ident",
            "description": "Set the ident which will be deleted",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Set the ident which will be deleted"
                }
              }
            }
          },
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Ident deleted."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Bouncer"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List bouncer information",
        "description": "<p>List bouncer related information and all created bouncers</p>",
        "operationId": "ListBouncers",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "bouncer": {
                      "max_bouncer": 2,
                      "type": "psybnc",
                      "bouncers": [
                        {
                          "ident": "f00860",
                          "password": "sup3rs3crEt",
                          "server": {
                            "name": "bnc100",
                            "port": 1337
                          },
                          "running_tasks": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Bouncer"
        ],
        "security": [
          {
            "oAuth": [],
            "bearerAuth": []
          }
        ]
      }
    },
    "/services/{id}/cloud_servers/backups": {
      "post": {
        "summary": "Backup - Create",
        "operationId": "CreateCloudServerBackup",
        "parameters": [
          {
            "name": "id",
            "description": "Undocumented {id} path parameter.",
            "in": "path",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "A new Backup will be created now, this can take some minutes."
                }
              }
            }
          },
          "401": {
            "description": "The provided access token is not valid (anymore)."
          },
          "429": {
            "description": "The rate limit has been exceeded. Please contact our support if you have a legit reason get a higher rate limit."
          },
          "503": {
            "description": "Maintenance. API is currently not available. Please come back in a few minutes and try it again."
          }
        },
        "tags": [
          "Cloud Server"
        ],
        "security": [
          {
            "oAuth": [],
[...]
